.forgot-password{
    display: flex;
    background: #3ebf0f;
    height: 100vh;
}
.forgot-left{
    background: #ffffff;
    width: 60vw;
    padding: 1em;
}
.continue{
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background: #3ebf0f;
    height: 5vh;
    width: 25vw;
    margin-bottom: 3%;
}
.back{
    margin-left: 25%;
}