.get-started-component{
    background: #fafafa;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    padding: 2em;
    height: auto;
}
.step{
    display: flex;
}
.dash{
    margin-right: 3%;
    height: 3vh;
}
.fourth{
    background: #88ade3;
}