.main{
    display: flex;
    justify-content: space-between;
    background: #e6f7e0;
    height: auto;
    padding: 2em;
}
h1{
    font-weight: 700;
}
.generate{
    height: 5vh;
    width: 22vw;
    color: #ffffff;
    background: #3ebf0f;
    border: none;
    border-radius: 5px;
    padding: 0.3em;
    margin-left: 1%;
}
.main-right img{
    height: 50vh;
    border-radius: 10px;
}