.footer{
    height: 45vh;
    padding-top: 2em;
}
.footer-above{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.footer-above img{
    height: 5vh;
}
.footer-above span{
    color: #b4b3b3;
}
.footer-line{
    width: 40%;
    border: 1px solid #b4b3b3;
    margin-left: 30%;
}
.footer-below{
    text-align: center;
}
.media{
    margin: 1% 0 0 2%;
}
.media-icon{
    margin-right: 3%;
}
@media screen and (max-width: 767px) {
    .footer-logo{
        padding: 0.3em;
    }
}