.testimonials{
    background: #fafafa;
    margin-top: 5%;
    padding: 2em;
}
.testimonials h2{
    text-align: center;
}
.testimonials-info{
    display: flex;
    margin: 3% 0 0 15%;
}
.testimonials-left{
    background: #ffffff;
    border-radius: 8px;
    width: 65vw;
    padding: 1em;
}
.testimonials-left p{
    margin-left: 5%;
}
.tesimonials-left p:nth-child(2) {
    font-weight: bold;
}
.open-quote{
    height: 10vh;
}
.testimonials-right{
    margin-left: -25%;
}
.testimonial-image{
    height: 50vh;
}
@media screen and (max-width: 767px) {
    .testimonials{
        width: 90vw;
        margin-left: 5%;
        font-size: 13px;
    }
    .open-quote{
        margin-left: -75%;
    }
}