.nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 0.5px solid #3ebf0f;
    width: auto;
}
.nav img{
    margin-left: 3%;
    height: 5vh;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    padding-right: 2em;
    color: #000000;
}
.create{
    height: 5vh;
    width: 15vw;
    color: #ffffff;
    background: #3ebf0f;
    border: none;
    border-radius: 5px;
    padding: 0.3em;
    margin-left: 1%;
}
.link{
    text-decoration: none;
}
.sign-in{
    height: 5vh;
    width: 5vw;
    border: 1px solid #3ebf0f;
    border-radius: 5px;
    background: #ffffff;
    color: #3ebf0f;
}
.link:hover{
    color: #ffffff;
}
.nav-buttons{
    display: flex;
    margin-left: -10%;
}
@media screen and (max-width: 767px) {
    .nav img{
        height: 3vh;
    }
    .create{
        width: 40vw;
    }
}